<div class='chat-wrapper'>
  <div class='chat-header'>
    <% @users.each do |user| %>
    <% next if user.id == current_user.id %>
    <div class='chat-user-avatar'>
        <% if user.avatar.present? %>
          <%= image_tag user.avatar, class:"chat-header-avatar" %>
        <% else %>
          <%= image_tag "unnamed.jpg", class:"chat-header-avatar" %>
        <% end %>
    </div>
    <div class='chat-user-name'>
       <%= user.name %>
    </div>
    <% end %>
  </div>

  <div class='chat'>
    <div class='chat-body'>
        <%= render partial: 'message', collection: @messages %>
    </div>
    
    <%= form_with model: [@room, @message],local: true do |f| %>
    <div class='chat-messages'>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: "hidden"%>
      </label>
      <div class="chat-messages-input">
        <%= f.text_field :content, class: "form-message", placeholder: "メッセージを作成"%>
      </div>
      <%= f.submit '送信', class: "form-submit" %>
    </div>
    <% end %>
  </div>
  
</div>