<div class='chat-wrapper'>
  <div class='chat-header'>
    <div class='chat-back'>
     <%= link_to "<", user_path(current_user), method: :get, class:'chat-back-main'%>
    </div>
    <% @users.each do |user| %>
    <% next if user.id == current_user.id %>
    <div class='chat-header-user-info'>
      <div class='chat-user-avatar'>
         <% if user.avatar.present? %>
            <%= image_tag user.avatar, class:"chat-header-avatar" %>
          <% else %>
            <%= image_tag "blank-profile-picture-973460_640.png", class:"chat-header-avatar" %>
          <% end %>
     </div>
    <div class='chat-user-name'>
       <%= user.name %>
    </div>
    </div>
    <% end %>
    <div class='chat-delete'>
      <%= link_to "ルームを削除する", room_path(@room), method: :delete, class:'chat-delete-main'%>
    </div>
  </div>

  <div class='chat'>
    <div class='chat-body'>
        <%= render partial: 'message', collection: @messages %>
    </div>
    
    <%= form_with model: [@room, @message],local: true do |f| %>
    <div class='chat-messages'>
      <div id="image-list"></div>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: "hidden"%>
      </label>
      <div class="chat-messages-input">
        <%= f.text_field :content, class: "form-message", placeholder: "メッセージを作成"%>
      </div>
      <%= f.submit '送信', class: "form-submit" %>
    </div>
    <% end %>
  </div>
  
</div>