<%= render "shared/second-header" %>

<div class='user-show-main'>

  <div class='user-show-info'>
    <div class='user-show-profile'>
      <div class='show-pofile-main'>
        <div class='show-profile-header'>
          <div class='profile-main-image'>
            <%= image_tag @user.avatar, class: 'profile-image' %>
          </div>
          <div class='profile-main-name'>
           <%= @user.name %>
          </div>
        </div>
        <div class='show-profile-introduction'>
          <%= safe_join(@user.introduction.split("\n"),tag(:br)) %>
        </div>
      </div>
      
      <div class='user-show-rooms'>
        <h3 class='show-rooms-header'>
          トーク
        </h3>
         <%#<ul class='user-show-room'>
          <% if user_signed_in? && current_user.id == @user.id%>
          <%# @user.rooms.each do |room|%>
            <%#<li id="user-rooms-top"  class='user-room-list'>
              <%= link_to room_path(room.id) do %>
             <%#<div class='user-show-room-avatar'>
                <%= image_tag @message.user.image, class: "user-image" %>
             <%# </div>
             <div class='user-show-room-info'>
                <div class='user-show-room-header'>
                 <p class='user-show-room-name'> %>
                   <%#= @message.user.name %>
                 <%# </p>
                  <p class='user-show-room-date'> %>
                   <%#= @message.created_at %>
                  <%# </p>
                </div>
               
                <div class='user-show-room-message'>
                  <p> %>
                    <%#= @message.message %>
                  <%# </p>
                </div>
             </div>
              <% end %>
           <%#</li>
          <% end %>

           <%# if @user.rooms.length == 0 %>
           <%#<li id="user-rooms-top" class='user-room-list'>
             <h2 class='user-room none'>
               メッセージを送ってみましょう
             </h2>
           </li>
           <% end%>
          <%# end %>
        <%# </ul> %>
      </div>
    </div> 

    <div class='user-show-posts-main'>
      <div class='user-show-posts'>
        <h2 class='user-show-posts-header'>
          投稿内容
        </h2>
        <ul class='show-post-lists'>
          <% @user.posts.each do |post|%>
            <li id="posts-top"  class='list'>
              <%= link_to post_path(post.id), class:'user-post-link' do %>
             <div class='user-show-post-info'>
               <p class='post-name'>
                  <%= post.trip_date %>/<%= post.place%>
               </p>
               <div class='post-price'>
                 <h3><%= post.title %></h3>
               </div>
             </div>
              <% end %>
           </li>
          <% end %>

           <% if @user.posts.length == 0 %>
           <li id="posts-top" class='list'>
             <%= link_to '#' do %>
              <div class='post-info'>
                <p class='post-name'>
                  2020/6/21 東京
               </p>
               <h3 class='post-price'>
                  gogogogogogogogogogogogogogogogogogo
               </h3>
             </div>
             <div class= 'post-info-user'>
               <%= image_tag "unnamed.jpg", class:"post-image" %>
               <div class= 'user-info'>
                 <h3 class='user-info-name'>田中太郎</h3>
                  <p>投稿日 2021/6/21</p>
                </div>
              </div>
             <% end %>
           </li>
           <% end%>
       </div>
     </div>
  </div>
</div>

<%= render "shared/footer" %>
