<%= render "shared/second-header" %>

<div class='user-show-main'>

  <div class='user-show-info'>
    <div class='user-show-profile'>
      <div class='show-profile-main'>
        <div class='show-profile-header'>
          <% if @user.avatar.present? %>
            <%= image_tag @user.avatar, class: 'profile-image' %>
          <%end%>
          <div class='profile-main-name'>
           <%= @user.name %>
          </div>
        </div>
        <div class='show-profile-introduction'>
         <% if @user.avatar.present? %>
          <%= safe_join(@user.introduction.split("\n"),tag(:br)) %>
         <% else %>
          <h3>プロフィール</h3>
         <%end%>
        </div>
      </div>
      
      <div class='user-show-rooms'>
        <h3 class='show-rooms-header'>
          トーク
        </h3>
         <ul class='user-show-room'>
          <% if user_signed_in? && current_user.id == @user.id%>
          <% @rooms.each do |room|%>
            
            <li id="user-rooms-top"  class='user-room-list'>
              <%= link_to room_messages_path(room.id) do %>
              <div class='user-show-room-main'>
               <% room.users.each do |user| %>
               <% unless user.id == current_user.id %>
               <div class='user-show-room-avatar'>
                <% if user.avatar.present? %>
                 <%= image_tag user.avatar, class: "room-user-avatar" %>
                <% else %>
                 <%= image_tag "blank-profile-picture-973460_640.png", class:"room-user-avatar" %>
                <% end %>
               </div>
               <div class='user-show-room-info'>
                
                <div class='user-show-room-header'>
                 <p class='user-show-room-name'> 
                   <%= user.name %>
                 </p>
                 <p class='user-show-room-date'> 
                   <%#= @message.created_at %>
                 </p>
                </div>
                <div class='user-show-room-message'>
                  <p>
                    <%#= @message.content %>
                  </p>
                </div>
                
              </div>
              <% end %>
              <% end %>
             </div>
             <% end %>
            </li>

           <% if @user.rooms.length == 0 %>
           <li id="user-rooms-top" class='user-room-list'>
             <h2 class='user-room-none'>
               メッセージを送ってみましょう
             </h2>
           </li>
           <% end %>
           <% end%>
          <% end %>
        </ul>
      </div>
    </div> 

    <div class='user-show-posts-main'>
      <div class='user-show-posts'>
        <h2 class='user-show-posts-header'>
          投稿内容
        </h2>
        <ul class='show-post-lists'>
          <% @user.posts.each do |post|%>
            <li id="posts-top"  class='list'>
              <%= link_to post_path(post.id), class:'user-post-link' do %>
             <div class='user-show-post-info'>
               <p class='post-name'>
                  <%= post.trip_date %>/<%= post.place%>
               </p>
               <div class='post-content'>
                 <h3 class='post-content-main'><%= post.title %></h3>
               </div>
             </div>
              <% end %>
           </li>
          <% end %>

           <% if @user.posts.length == 0 %>
           <li id="posts-top" class='list'>
             <%= link_to '#', class:'user-post-link' do %>
              <div class='post-info'>
                <p class='post-name'>
                  2020/6/21 東京
               </p>
               <h3 class='post-price'>
                  旅を募集してみましょう
               </h3>
             </div>
             <div class= 'post-info-user'>
               <%= image_tag @user.avatar, class: 'post-image' if @user.avatar.attached? %>
               <% if @user.avatar.nil?%>
                <%= image_tag "unnamed.jpg", class:"post-image" %>
               <% end %>
               <div class= 'user-info'>
                 <h3 class='user-info-name'>
                  <%= @user.name %>
                 </h3>
                  <p>投稿日 2020/6/21</p>
                </div>
              </div>
             <% end %>
           </li>
           <% end%>
       </div>
     </div>
  </div>
</div>

<%= render "shared/footer" %>
