<%= render "shared/header" %>

<div class='main'>
  <%# たびマッチ説明部分 %>
  <div class='top-contents'>
     <h2 class='title'>
       旅を共有しよう！！
      </h2>
     <ul class='top-contents-lists'>
       <li class='list'>
          <%= image_tag "young-people-3575167_640.jpg", class:'top-image'%>
          <h3 class='top-contents-list-text'>
           <span class='top-contents-list-blue-text'>一緒</span>
           に観光！
         </h3>
       </li>
       <li class='list'>
          <%= image_tag "pizza-3007395_640.jpg", class:'top-image'%>
          <h3 class='top-contents-list-text'>
           美味しいご飯を
           <span class='top-contents-list-blue-text'>共有</span>
           ！
         </h3>
        </li>
       <li class='list'>
         <%= image_tag "autumn-walk-1792812_640.jpg", class:'top-image'%>
         <h3 class='top-contents-list-text'>
           地元を
           <span class='top-contents-list-blue-text'>案内</span>
            ！
         </h3>
       </li>
     </ul>
    </div>
  </div>
  <%# /たびマッチ説明部分 %>

  <%# /投稿記事部分%>
  <div class='post-contents'>
   <div class='post-contents-main'>
    <h2 class='posts-contents-title'>新着情報</h2>
    <ul class='post-lists'>
     <% @posts.each do |post|%>
      <li id="posts-top"  class='list'>
        <%= link_to post_path(post.id), class: 'posts-lists-link' do %>
        <div class='post-info'>
          <p class='post-name'>
            <%= post.trip_date %>/<%= post.place%>
          </p>
          <div class='post-title'>
            <%= post.title %>
          </div>
        </div>
        <div class= 'post-info-user'>
          <%= image_tag post.user.avatar, class: "post-image" if post.user.avatar.attached? %>
          <div class= 'user-info'>
            <h3 class='user-info-name'>
              <%= post.user.name %>
            </h3>
            <p class='user-info-postdate'>投稿日 <%= l post.created_at %></p>
          </div>
        </div>
        <% end %>
      </li>
     <% end %>

     <% if @posts.length == 0 %>
      <li id="posts-top" class='list'>
        <%= link_to '#', class: 'posts-lists-link' do %>
        <div class='post-info'>
          <p class='post-name'>
            2020/6/21 東京
          </p>
          <h3 class='post-title'>
            投稿してみましょう！
          </h3>
        </div>
        <div class= 'post-info-user'>
          <%= image_tag "blank-profile-picture-973460_640.png", class:"post-image" %>
          <div class= 'user-info'>
            <h3 class='user-info-name'>旅太郎</h3>
            <p>投稿日 2021/6/21</p>
          </div>
        </div>
        <% end %>
      </li>
     <% end %>
    </ul>

   </div>
    <% if user_signed_in? %>
    <div class= 'post-user-info'>
      <% if current_user.avatar.present? && current_user.introduction.present?%>
        <%= image_tag current_user.avatar, class:"post-user-image" %>
        <p class= 'post-user-text'>
          <%= safe_join(current_user.introduction.truncate(100).split("\n"),tag(:br)) %>
        </p>
      <% else %>
        <%= image_tag "blank-profile-picture-973460_640.png", class:"post-user-image" %>
      <% end %>
      <div class='top-user-btn'>
        <%= link_to "編集", edit_user_path(current_user), method: :get, class: 'user-edit-btn'%>
        <%= link_to "詳細", user_path(current_user), method: :get, class: 'user-show-btn'%>
      </div>
    </div>
    <% end %>
  </div>
  <%# /投稿記事部分%>
  
  <%= render "shared/footer" %>
  
</div>